<form action="/restaurants" method="POST" class="m-5">
  <div class="input-group mb-3">
    <span class="input-group-text">name</span>
    <input type="text" class="form-control" placeholder="name" aria-label="name" name="name" required>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">name_en</span>
    <input type="text" class="form-control" placeholder="name_en" aria-label="name_en" name="name_en">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">category</span>
    <input type="text" class="form-control" placeholder="category" aria-label="category" name="category">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">image</span>
    <input type="url" class="form-control" placeholder="image（type URL）" aria-label="image" name="image">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">location</span>
    <input type="text" class="form-control" placeholder="location" aria-label="location" name="location">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">phone</span>
    <input type="number" class="form-control" placeholder="phonev（type number）" aria-label="phone" name="phone">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">google_map</span>
    <input type="url" class="form-control" placeholder="google_map（type URL）" aria-label="google_map" name="google_map">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">rating</span>
    <input type="text" class="form-control" placeholder="rating（type number）" aria-label="rating" name="rating"
      onkeyup="value=value.replace(/[^\d.]/g,'')">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">description</span>
    <input type="text" class="form-control" placeholder="description" aria-label="description" name="description">
  </div>
  <button type="submit">Create</button>
</form>